*{
    margin: 0 auto;
    padding: 0 auto;
}

.encabezado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding: 20px;
    display: flex;
    height: 10%;
    background-color: aquamarine;
}
.contenido{
    width: 100%;
    background-color: khaki;
}
.seccion1{
    font-family: Helvetica;
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    height: 10%;
}
.seccion2{
    font-family: Helvetica;
    font-size: 20px;
    flex-flow: row wrap;
    padding: 10px;
    height: 35%;
}
.seccion2-2{
    font-family: Helvetica;
    font-size: 20px;
    display: flex;
    background-color: antiquewhite;
    padding: 1%;
}
.seccion3{
    font-family: Helvetica;
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    height: 35%;
}
.piePag{
    padding: 20px;
    display: flex;
    height: 10%;
    background-color: palevioletred;
}